.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
  }
  
  header {
    background-color: #6fa8dc;
  }
  
  nav {
    background-color: #c9daf8;
  }
  
  main {
    background-color: #f3f3f3;
    font-size: 1.1rem;
  }
  
  footer {
    background-color: #b4c7e7;
  }
  
  li {
    display: inline-block;
    width: 150px;
  }
  
  h1 {
    text-align: center;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    color: #1a1a1a;
  }
  
  p {
    line-height: 1.6;
  }
  